/* Add screen styles below */
html {
    background: rgb(75, 66, 66);
}
body {
    background-color:rgb(75, 66, 66);
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    color:white;
    border-top: 10px solid white;
}

h1 { 
    font-size: 2em;
    margin: 0;

}

p {
    line-height: 1.4em;
    width: 800px;
    margin: 20px;
}

#blog {
border-top: 1px dotted #ccc;
}

.blog-post {
border-bottom: 1px dotted #ccc;
}


