/* Add screen styles below */
html {
    background: rgb(75, 66, 66);
}
body {
    background-color:rgb(75, 66, 66);
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    padding: 0;
    font-size: larger;
    color:white;
    border-top: 10px solid white;
    border: 1px solid black;
}

h1 { 
    font-size: 2em;
    margin: 0;
    color: white;

}

p {
    line-height: 1.4em;
    width: 800px;
    margin: 20px;
}

#blog {
border-top: 1px dotted #ccc;
}

.blog-post {
border-bottom: 1px dotted #ccc;
}

#page-title {
    font-family: Arial, Helvetica, sans-serif;
}

.masthead {
    background: no-repeat bottom;
    height: 300px;
    border-radius: 20px;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    color: black;
}

h3 {
    font-size: 1.5em;
    margin: 0;
    color:  black;
}

img {
    width: 50%;
}

ul {
    margin: 4;
    padding: 0;
    color: white;
}
table {
    width: 100%;
}
td {
    border: 1px solid #ccc;
    padding: 8px;
}

img[alt="Picture of Harry Kane"] {
    border: 2px solid black;

}

img[alt="Picture of golden boot winners"] {
    border: 2px solid black;
    width: 200px;
    margin-left: 20px;
}
p {
    margin: 10px 0;
    padding: 0 20px;
}

ul {
    list-style: none;
}
a {
    color: black;
}
.bold-text {
    font-weight: bold;
    color: black;
    margin-left: 400px;
}

.sticky {
    background: white;
    position: sticky;
    top: 0;
}

.img-container {
    height: 50px;
    width: 50x;
    float: right;
    margin-left: 20px;
}

.image-container img {
    max-width: 100%;
    float: left;
}

.image-container p{
    text-align: center;
    font-style: italic;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1;
    background-color: black;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}