/* Add screen styles below */
html {
    background: rgb(75, 66, 66);
}
body {
    background-color:rgb(75, 66, 66);
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    padding: 0;
    font-size: larger;
    color:white;
    border-top: 10px solid white;

}

h1 { 
    font-size: 2em;
    margin: 0;
    color: violet;

}

p {
    line-height: 1.4em;
    width: 800px;
    margin: 20px;
}

#blog {
border-top: 1px dotted #ccc;
}

.blog-post {
border-bottom: 1px dotted #ccc;
}

#page-title {
    font-family: Arial, Helvetica, sans-serif;
}

.masthead {
    background: no-repeat bottom;
    height: 300px;
    border-radius: 20px;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    color: violet;
}

h3 {
    font-size: 1.5em;
    margin: 0;
    color:  violet;
}

img {
    width: 60%;
}

ul {
    margin: 4;
    padding: 0;
    color: white;
}
table {
    width: 100%;
}
td {
    border: 1px solid #ccc;
    padding: 8px;
}
.selector {
    text-align: center;
}